<!--The content below is only a placeholder and can be replaced.-->
<div class="container" >
  <button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="login()" type="submit">Login</button>
  <div *ngIf="isLoggedIn" class="content">
    <span>Welcome !!</span>
    <a class="btn btn-default pull-right" (click)="logout()" href="#">Logout</a>
    <br/>
  </div>
  <button (click)="request('user')">User</button>
  <button (click)="request('user2')">User2</button>
  <button (click)="request('free')">Free</button>
  <button (click)="request('basic')">Basic</button>
</div>
<router-outlet></router-outlet>
